<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.workflowportfolio.leave.mapper.LeaveMapper">

<insert id="insert"
		parameterType="com.example.workflowportfolio.leave.entity.Leave">
		
INSERT INTO leaves(
	applicant_id,
	leave_type_id,
	flow_id,
	start_date,
	end_date,
	reason,
	status
	)
VALUES(
	#{applicantId},
	#{leaveTypeId},
	#{approvalFlowId},
	#{startDate},
	#{endDate},
	#{reason},
	#{status}
	)

</insert>

<update id="cancel"
		parameterType="java.lang.Long">
		
UPDATE leaves
SET
	status = 'CANCELED',
	updated_at = CURRENT_TIMESTAMP
WHERE id = #{id}

</update>

<select id="findByApplicantId"
		resultType ="com.example.workflowportfolio.leave.dto.LeaveListDto">
SELECT
	l.id,
	lt.name AS leaveTypeName,
	l.start_date,
	l.end_date,
	l.status,
	l.created_at
FROM
	leaves l
JOIN
	leave_types lt
ON
	l.leave_type_id = lt.id
WHERE 
	l.applicant_id = #{applicantId}
ORDER BY 
	l.created_at DESC

</select>

<select id="findDetailById"
		resultType ="com.example.workflowportfolio.leave.dto.LeaveDetailDto">

SELECT
	l.id,
	lt.name AS leaveTypeName,
	l.start_date,
	l.end_date,
	l.reason,
	l.status,
	l.created_at,
	l.updated_at
FROM
	leaves l
JOIN
	leave_types lt
ON
	l.leave_type_id = lt.id
WHERE 
	l.id = #{id}
	
</select>
</mapper>